/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {
    display: flex;
    justify-content: space-between;
}

.three ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.three ul li {
    display: inline-flex;
    margin-left: 32px;
    margin-right: 32px;
 }

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.five {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .five {
        flex-wrap: wrap;
    }
    .five article{
        box-sizing: border-box;
        flex:0 0 50%;
        max-width: 50%
    }
    .five article:last-child{
        flex:0 0 100%;
        max-width: 100%
    }
}